body {
  background-image: url("wave.gif");
  background-size: cover;
  background-repeat: repeat;
}

.app {
  margin-top: 15%;
  color: white;
}

.header {
  text-align: center;
  font-size: 2rem;
}

.clock {
  font-size: 3rem;
  text-align: center;
}



